<!DOCTYPE html>
{%load blog_tags%}
{%load static%}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{%static 'css/blogdemo.css'%}">
    <title>{%block title_block%}{%endblock%}</title>
  </head>
  <body>
    <div class="content">
      {%block content_block%}
      {%endblock%}
    </div>
    <div class="sidebar">
      <h2>Veeru's BLOG</h2>
      <h3>Total number of Posts til today:<span id ="pcount">{%total_posts%}</span></h3>
      {%show_latest_posts%}
      <h2>Most commented post</h2>
      {%get_most_commented_posts as most_commented_post%}
      <ul>
        {%for post in most_commented_post%}
        <li><a href="{{post.get_absolute_url}}">{{post.title}}</a></li>
        {%endfor%}
      </ul>



    </div>

  </body>
</html>
